<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MiSMDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <userSettings>
    <MiSMDR.Properties.Settings>
      <setting name="MiProvider" serializeAs="String">
        <value>notinstalled</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1752</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>notinstalled</value>
      </setting>
      <setting name="MiDatabaseString" serializeAs="String">
        <value>notinstalled</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="DemoMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="MiDemoString" serializeAs="String">
        <value>notinstalled</value>
      </setting>
      <setting name="RecordLimit" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ShowDebug" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ConnectOnStartup" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MinimiseToTray" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>false</value>
      </setting>
    </MiSMDR.Properties.Settings>
  </userSettings>
</configuration>