<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MiSMDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MiSMDR.Properties.Settings.MiConnectionString" connectionString="Data Source=POSEIDON\SQLEXPRESS;Initial Catalog=LivePhone;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <MiSMDR.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1752</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>C:\Program Files\Insight4\MiSMDR\Logs\MitelData_Log.txt</value>
      </setting>
    </MiSMDR.Properties.Settings>
  </applicationSettings>
</configuration>